{% extends 'base.html' %}
{% load my_filters %}
{% block title %}
Input
{% endblock %}
{% block content %}
<h1>Input</h1>
{% if user.is_authenticated%}
<div>
<form method="post" action="">
{% csrf_token %}
{{form.as_p}}
    <input type="submit" value="Submit">
</form>
    </div>

<div>
    {% if form.is_valid %}
{% if income.income < all_expenses %}
<p>Your monthly expenses are more than what you earn.</p>
{% else %}
<p> You have {{ success }} remaining from this month. </p>
{% if wanted_money > 0 %}
<p> For you to save {{ wanted_money }} you have to save for {{ how_many }} month/s  </p>
{% endif %}
{% endif %}
{% endif %}
</div>
{% endif %}
<a href="{% url 'home' %}">Home</a>
{% endblock %}